<footer>
    <img class="footer-back-to-top" src="/images/arrow-up.svg" alt="Vissza a lap tetejére" title="Vissza a lap tetejére" />
    <section>
        <h3>Elérhetőség</h3>
        <div class="facebook-chat">
            <div class="fb-messengermessageus"
                 messenger_app_id="745047939582851"
                 page_id="100940204799387"
                 color="blue"
                 size="xlarge">
            </div>
        </div>
        <div class="row-with-image">
            <div>
                <img src="~/images/phone.png" />
            </div>
            <span>+36 20 426 4445</span>
        </div>
        <div class="row-with-image">
            <div>
                <img src="~/images/email.png" />
            </div>
            <span>info@elenora.hu</span>
        </div>
        <span class="footer-follow-us">Kövess minket:</span>
        <div class="row-with-image">
            <a href="https://www.facebook.com/elenora.ekszer/" target="_blank" class="social-icon">
                <img src="~/images/facebook.png" alt="Facebook" />
            </a>
            <a href="https://www.instagram.com/elenora.ekszer/" target="_blank" class="social-icon">
                <img src="~/images/instagram.png" alt="Instagram" />
            </a>
            <a href="https://hu.pinterest.com/elenora_ekszer/" target="_blank" class="social-icon">
                <img src="~/images/pinterest.png" alt="Pinterest" />
            </a>
        </div>
    </section>
    <section>
        <h3>Információk</h3>
        <a href="/rolunk" class="footer-link">Rólunk</a>
        <a href="/cikkek" class="footer-link">Cikkek</a>
        <a href="/gyakori-kerdesek" class="footer-link">Gyakori kérdések</a>
        <a href="/szallitasi-informaciok" class="footer-link">Szállítási információk</a>
        <a href="/impresszum" class="footer-link">Impresszum</a>
        <a href="/aszf" class="footer-link">Általános szerződési feltételek</a>
        <a href="/adatkezelesi-tajekoztato" class="footer-link">Adatkezelési tájékoztató</a>
        <a href="/cookie-hasznalat" class="footer-link">Cookie használat</a>
        <a href="/asvany-lexikon" class="footer-link">Ásvány lexikon</a>
    </section>
    <section>
        <div class="footer-logo">
            <img src="~/images/logo-white.png" alt="Elenora" />
            <small>©2020 - @Helper.Now.Year ELENORA</small>
        </div>
        <div class="barion-footer">
            <img src="~/images/barion-footer.png" alt="Barion" class="barion-footer" />
            <small>Az online fizetést a Barion Payment Zrt. biztosítja, MNB engedély száma: H-EN-I-1064/2013</small>
        </div>
    </section>
</footer>