<div class="search-bar-container">
    <div class="search-bar">
        <input id="search-input" type="search" autocomplete="off" />
        <img src="~/images/search.png" onclick="startSearch();" onkeypress="" />
        <a onclick="return hideSearchBar();">
            <img src="/images/close.svg" alt="Bezár" />
        </a>
    </div>
    <div class="search-suggestions-container">
    </div>
</div>