@{
    ViewData["Title"] = "Hiba történt";
}

<div class="narrow-page page-container">
    <h1>HIBA TÖRTÉNT!</h1>
    
    <h2>Próbáld újra a műveletet, amennyiben ismét előjön a hiba kérlek vedd fel velünk a kapcsolatot és írd le, hogy milyen hibát észleltél az info@elenora.hu e-mail címre!</h2>
    <h2>Megértésedet köszönjük!</h2>
</div>