.vs/
elenora/bin/Debug/netcoreapp3.1/elenora.deps.json
elenora/bin/Debug/netcoreapp3.1/libman.json
elenora/obj/
elenora/bin/
elenora/node_modules/
elenora/wwwroot/css/site.min.css
elenora/wwwroot/js/sass.js
elenora/wwwroot/css/site.css
elenora.test/bin/
elenora.test/obj/
elenora/wwwroot/images/products/
elenora/wwwroot/css/admin.css
elenora/wwwroot/site.js
elenora/wwwroot/admin.js
elenora/wwwroot/css/landing-page.css
elenora/wwwroot/css/landing-page.min.css
elenora/wwwroot/landing-page.js
elenora/wwwroot/admin/
elenora/wwwroot/css/name-bracelet-designer.min.css
elenora/wwwroot/css/name-bracelet-designer.css
elenora/wwwroot/horoscope.js
elenora/wwwroot/name-bracelet-designer.js
elenora/wwwroot/css/horoscope.min.css
elenora/wwwroot/css/horoscope.css
elenora/wwwroot/css/order-confirmation.css
3d-rendering/app.js
3d-rendering/node_modules/
3d-rendering/dist/app.js
3d-rendering/dist/app.js.map
elenora/wwwroot/css/string-bracelet-designer.min.css
elenora/wwwroot/string-bracelet-designer.js
elenora/wwwroot/js/tsOut/
elenora/wwwroot/string-bracelet-designer-js.js
elenora/wwwroot/custom-bracelet-designer-js.js
elenora/wwwroot/custom-mineral-bracelet.js
elenora/wwwroot/order-confirmation.js
elenora/wwwroot/quiz.js
elenora/wwwroot/StringBraceletDesigner.js
elenora/wwwroot/StringBraceletDesignerJs.js
elenora/wwwroot/HoroscopeJs.js
elenora/wwwroot/CustomBraceletDesignerJs.js
logs/internal-nlog.txt
3d-rendering/Outputs/
Assets/ProductImages/
BraceletsCreator/bin/
BraceletsCreator/obj/
Assets/Tools/BatchImageGenerator/bin/
3d-rendering/horoscope.csv
3d-rendering/bracelets2.csv
3d-rendering/bracelets3.csv
Assets/Tools/original.png
bracelets.blend
bracelets.blend1
3d-rendering/OutputsComponents/csomofogo.png
3d-rendering/OutputsComponents/feher-rondell.png
3d-rendering/OutputsComponents/fekete-korong.png
3d-rendering/OutputsComponents/fekete-sziv.png
3d-rendering/OutputsComponents/rose-gold-korong.png
3d-rendering/OutputsComponents/rose-gold-sziv.png
3d-rendering/OutputsComponents/resize/fekete-sziv.png
3d-rendering/OutputsComponents/resize/rose-gold-sziv.png
elenora/wwwroot/SiteJs.js
3d-rendering/__pycache__/scenes.cpython-37.pyc
3d-rendering/__pycache__/
3d-rendering/Outputs2/
3d-rendering/OutputsComponents/
Assets/Tools/node_modules/
Management/bin/
Management/obj/
3d-rendering/OutputsMainPage/
3d-rendering/ad-bracelets-v1.txt
3d-rendering/textures/
elenora/wwwroot/custom-bracelet-designer-v2.js
elenora/wwwroot/custom-bracelet-designer-v2-style.js
elenora/wwwroot/css/custom-bracelet-designer-v2-style.min.css
elenora/wwwroot/css/custom-bracelet-designer-v2-style.css
