@{
    ViewData["Title"] = "Gyakori kérdések";
}

<div class="narrow-page page-container about-us-page">
    <h1>Rólunk</h1>
    <span>Minden úgy kezdődött, hogy ajándékba kaptunk egy ásvány karkötőt a nagyszülőktől. Már a szépsége is meggyőzött, de amikor elmondták azt is, hogy milyen jótékony gyógyhatások fűződnek az ásványokhoz, már nem volt leállás. Először csak karkötőket vásároltunk, majd jobban belemélyűltünk az ásványok világába. A feleségem közben hobbi szinten el is kezdett karkötőket gyártani a családnak és az ismerőseinknek. Mivel nagyon sok pozitív visszajelzést kaptunk, úgy döntöttünk, hogy belevágunk és megvalósítjuk a saját kis webáruházunkat.</span>
    <br />
    <span>Azon dolgozunk, hogy a lehető legjobb minőséget nyújtsuk és hogy minden egyes vásárlónk maximálisan elégedett legyen a kapott csomaggal és jó szívvel merjen minket ajánlani másoknak is. </span>
    <br />
    <span>Nagyon örülünk a visszajelzéseknek, a negatívak válaszoknak is, mert ezekből tudunk építkezni és fejlődni. Aki már régebb óta követi a webáruházunkat, az bizonyára észrevette, hogy gyakran változik az oldal, új karkötők és gyöngyök kerülnek fel és a weboldal működése is fejlődik.Ez csak a ti visszajelzésetek segítségével lehetséges, ezért kérünk oszd meg velünk a tapasztalataidat!</span>
    <br />
    <h2>Ahol már hallhattál rólunk:</h2>
    <span>Több blog is említett már minket viszont a leghíresebb megjelenésünk talán az <b>RTL Klub Édesítő</b> című műsorában volt. A teljes adás visszanézhető az <a href="https://www.rtlmost.hu/edesito-p_9051/edesito-2020-09-12-c_12716155" target="_blank">RTL Most-on</a> és lentebb van pár kép az adásból és a filmezésről a műsorvezetővel, Tuka Nikivel:</span>
    <div class="about-us-images">
        <img src="/images/articles/elenora-edesito-rtlklub-1.jpg" alt="Elenora RTL Klub Édesítő Tuka Niki" />
        <img src="/images/articles/elenora-edesito-rtlklub-2.jpg" alt="Elenora RTL Klub Édesítő Tuka Niki" />
        <img src="/images/articles/elenora-edesito-rtlklub-3.jpg" alt="Elenora RTL Klub Édesítő Tuka Niki" />
        <img src="/images/articles/elenora-edesito-rtlklub-4.jpg" alt="Elenora RTL Klub Édesítő Tuka Niki" />
    </div>
</div>
