@{
    ViewData["Title"] = "Adatkezelési tájékoztató";
}

<div class="narrow-page page-container">
    <partial name="_DataPolicy" />
    <br />
    <br />
    <a href="/adatkezelesi-tajekoztato-pdf">Adatkezelési tájékoztató letöltése PDF formátumban</a>
</div>