@{
    ViewData["Title"] = "Általános Szerződési Feltételek";
}

<div class="narrow-page page-container">
    <h1>Impresszum</h1>
    <br />
    <br />
    Szolgáltató:
    <ul>
        <li>Név: Boros Csaba E.V.</li>
        <li>Székhely: 1193 Budapest, Szigligeti utca 1, 9/26</li>
        <li>Elérhetőség: info@elenora.hu, +36 20 426 4445</li>
        <li>Nyilvántartásba vevő hatóság: Budapest Főváros Kormányhivatala, XIX. Kerületi Hivatala</li>
        <li>Nyílvántartási szám: 54867932</li>
        <li>Adószám: 56233674-1-43</li>
        <li>Közösségi adószám: HU56233674</li>
    </ul>
    <br />
    Tárhely szolgáltató:
    <ul>
        <li>Név: Amazon Web Services EMEA SARL: Amazon Web Service által biztosított felhő alapú tárhely</li>
        <li>Székhely: 38 AVENUE JOHN F. KENNEDY, L-1855 LUXEMBOURG</li>
        <li>Elérhetőség: https://aws.amazon.com/, primary@amazon.com</li>
    </ul>
</div>
