@{
    ViewData["Title"] = "Általános Szerződési Feltételek";
}

<div class="narrow-page page-container">
    <partial name="_Legal" />
    <br />
    <br />
    <a href="/aszf-elallas-pdf">Elállási nyilatkozatminta letöltése PDF formátumban</a><br />
    <a href="/aszf-pdf">ÁSZF letöltése PDF formátumban</a>
</div>
