@model List<Tuple<int, string>>

@foreach (var notification in Model)
{
    <div class="header-top-bar header-top-bar-notification">
        <h3>@notification.Item2</h3>
    </div>
}

<script type="text/javascript">

</script>
