@section styles {
    <link rel="stylesheet" href="~/css/custom-mineral-bracelet.min.css" asp-append-version="true" type="text/css" />
}

<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        event: 'viewProductDetails',
        ecommerce: {
            currencyCode: 'HUF',
            detail: {
                products: [{
                    id: 'custom-mineral-bracelet',
                    name: 'Egyedi karkötő',
                    category: 'Egyedi karkötő'
                }]
            }
        }
    });
</script>

<div class="narrow-page custom-mineral-bracelet-page">
    <div class="bracelet-preview-container">
        <div class="bracelet-preview"></div>
    </div>
</div>
