<div class="popup-1">
    <div class="popup-inner">
        <div class="popup-countdown">00:59:59</div>
        <div class="popup-logo"></div>
        <div class="popup-percentage">-10%</div>
        <div class="popup-description">Vásárolj 1 órán belül és 10% kedvezmény adunk a vásárlásod összegéből.</div>
        <div class="popup-success">A kupont elküldtük az email címedre!</div>
        <input type="email" class="popup-email" placeholder="Email cím" />
        <partial name="~/Views/Shared/Components/Popup/_NewsletterConsent.cshtml" />
        <div class="popup-button">Kérem a kupont!</div>
        <div class="popup-no-button">Kihagyom</div>
        <div class="popup-close-button">x</div>
    </div>
</div>